
.logo {width: 50px; height:50px; }
.nav-link:hover {text-decoration: underline;}
.web_name{font-size: 25px}
.navbar{
    font-size: 20px;
    background-color:aqua !important;
}

.video_full_screen {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 35%;

}

.carousel-control-prev-icon {
    background-image: url("arrow-left-circle-fill.svg");
}
.carousel-control-next-icon {
    background-image: url("arrow-right-circle-fill.svg");

}
.carousel-control-next{  right: -15%;  }
.carousel-control-prev {    left: -15%; }
.video_main_text {
    font-weight: 600;
    font-style: italic;
    opacity: 0.6;
    color: aqua;
}
.h1_title {
    margin-top: 20px;
    margin-bottom: 50px;

}
.h4_contacts {
    text-align: left;
    margin-left: 50px;

}
.card-img-top {
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.margin_bottom {
    margin-bottom: 30px;
}
.card {
    width: 300px;
    margin-bottom: 30px;

}

@media screen and (min-width : 576px)
{
    .video_main_text
    {
        font-size: 35px!important;
    }
    .card {
        width: 200px;
    }
    .card-img-top {
        width: 200px;
        height: 280px;
        object-fit: cover;
    }
}
@media screen and (min-width : 768px)
{
    .video_main_text
    {
        font-size: 55px!important;
    }
    .card {
        width: 200px;

    }
    .card-img-top {
        width: 200px;
        height: 280px;
        object-fit: cover;
    }
}
@media screen and (min-width : 992px)
{
    .video_main_text
    {
        font-size: 80px!important;
    }
    .card {
        width: 200px;
    }
    .card-img-top {
        width: 200px;
        height: 280px;
        object-fit: cover;
    }
}
@media screen and (min-width : 1400px)
{
    .video_main_text
    {
        font-size: 110px!important;
    }
    .card-img-top {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }
    .card {
        width: 300px;
        margin-bottom: 30px;

    }

}



